@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(55, 66, 182);
  font-size: 3rem;
  text-align: center;
  opacity: 0.4;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 50%;
  border-radius: 20px;
  box-shadow: 10px 10px;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: rgb(128, 0, 255);
}

.input:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(0.95)
}

#passwordStrength {
    color: green;
    margin-top: 30px;
  }

button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: none;
  color: #444;
  font-size: 1.5rem;
  padding: 0.8rem 1.5rem;
  display: block;
  width: 25%;
  border-radius: 20px;
  box-shadow: 10px 5px;
  transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: scale(1);
  cursor: pointer;
}

/* Hover effect */
button:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(0.95);
}

    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
      cursor: help; /* Changes cursor to pointer */
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 500px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 20px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }


    .tooltip-btn {
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      margin-bottom: 690px;
      margin-right: 700px;
      width: 1%;
      background-color: #fff9f9;
      box-shadow: 5px 1px;
      border-radius: 20px;
      color: #000000;
      border: none;
    }