::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Style the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }